.date{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0.25rem;
}
.imageHeight{
    max-height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}